<div class="table-container">
    <table mat-table [dataSource]="ticketBuyingHistory">
        <ng-container matColumnDef="event">
            <th mat-header-cell *matHeaderCellDef>Event</th>
            <td mat-cell *matCellDef="let element">{{element.event.title}}</td>
        </ng-container>
        <ng-container matColumnDef="place_count">
            <th mat-header-cell *matHeaderCellDef>Place count</th>
            <td mat-cell *matCellDef="let element">{{element.place_count}}</td>
        </ng-container>
        <ng-container matColumnDef="purchased_ticket_type">
            <th mat-header-cell *matHeaderCellDef>Purchased ticket type</th>
            <td mat-cell *matCellDef="let element">{{element.purchased_ticket_type}}</td>
        </ng-container>
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let element; let i = index"><mat-icon fontIcon="delete" (click)="deleteTicketBuyingHistory(element._id, i)"></mat-icon></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns"></tr>
    </table>

</div>
