<div class="new-container">
    <form class="new-form" [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()">
      <label for="old-password">Old password</label>
      <input formControlName="oldPassword" id="old-password" type="password" required [ngClass]="{'invalid-input': updatePasswordForm.get('password')?.errors}" />
      <div *ngIf="updatePasswordForm.get('oldPassword')?.invalid && (updatePasswordForm.get('oldPassword')?.dirty || updatePasswordForm.get('password')?.touched)">
        <p *ngIf="updatePasswordForm.get('oldPassword')?.errors && updatePasswordForm.get('oldPassword')?.errors!['required']">Old password is required</p>
        <p *ngIf="updatePasswordForm.get('oldPassword')?.errors && updatePasswordForm.get('oldPassword')?.errors!['minlength']">Old password must be at least 6 characters.</p>
      </div>
      <label for="new-password">New password</label>
      <input formControlName="newPassword" id="new-password" type="password" required [ngClass]="{'invalid-input': updatePasswordForm.get('password')?.errors}" />
      <div *ngIf="updatePasswordForm.get('newPassword')?.invalid && (updatePasswordForm.get('newPassword')?.dirty || updatePasswordForm.get('password')?.touched)">
        <p *ngIf="updatePasswordForm.get('newPassword')?.errors && updatePasswordForm.get('newPassword')?.errors!['required']">New password is required</p>
        <p *ngIf="updatePasswordForm.get('newPassword')?.errors && updatePasswordForm.get('newPassword')?.errors!['minlength']">New password must be at least 6 characters.</p>
      </div>
      <label for="confirm-new-password">Confirm new password</label>
      <input formControlName="confirmNewPassword" id="confirm-new-password" type="password" required [ngClass]="{'invalid-input': updatePasswordForm.get('confirmPassword')?.errors}" />
      <div *ngIf="updatePasswordForm.get('confirmNewPassword')?.invalid && (updatePasswordForm.get('confirmNewPassword')?.dirty || updatePasswordForm.get('confirmPassword')?.touched)">
        <p *ngIf="updatePasswordForm.get('confirmNewPassword')?.errors && updatePasswordForm.get('confirmNewPassword')?.errors!['required']">Confirming new password is required</p>
        <p *ngIf="updatePasswordForm.get('confirmNewPassword')?.errors && updatePasswordForm.get('confirmNewPassword')?.errors!['mustMatch']">Passwords must match.</p>
      </div>
      <div class="buttons">
        <button type="submit">Sign Up</button>
      </div>
      <div class="buttons">
        <button type="reset" (click)="goBack()">Back</button>
      </div>
    </form>
  </div>
  