<div>
    <div>
        <h1 class="home title">Welcome to the event management site</h1>
    </div>
    <div class="background image">
        <img class="elso" [src]="path1">
        <img class="masodik" [src]="path2">
        <img class="harmadik" [src]="path3">
        <div class="img-link">
          <p class="link">https://sokszinuvidek.24.hu/viragzo-videkunk/2022/08/20/csodas-viragkocsik-vonultak-debrecenben/</p>
          <p class="link">https://promenad24.hu/2020/07/07/megvan-a-2020-as-szin-reszletes-programja/</p>
          <p class="link">https://tixa.hu/ven2019</p>
        </div>
    </div>
</div>
